@tailwind base;
@tailwind components;
@tailwind utilities;

.landing_page_image {
    position: relative;
    top: 0;
    z-index: 2;
    height: 500px;
    object-fit: contain;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

::placeholder {
    color: rgba(124, 124, 124, 0.6);
    padding-left: 5px;
    font-size: 16px;
}

.work-description {
    box-shadow: 0px 16px 40px rgba(124, 125, 125, 0.15);
}
